<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicolas Coronel</title>
    <link rel="stylesheet" href="../../assets/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

    <header>
        <div class="container">
            <h2 class="logo">Nicolás Coronel</h2>
            <nav>
                <a href="presentacion.html">Sobre Mí</a></li>
                <a href="intereses.html">Mis Intereses</a></li>
                <a href="portafolio.html">Portafolio</a></li>
            </nav>
    </header>

    <section id="hero">
        <h1>Sobre mí</h1>
        <p>"Soy Nicolás Coronel, estoy en el curso Python Directo al Grano y me apasiona el mundo de la tecnología, los
            videojuegos, viajar, etc.."</p>
        <button onclick="window.location.href='presentacion.html'">Ver más</button>
    </section>

    <section id="intereses">
        <div class="container">
            <h2>Mis Intereses</h2>
            <div class="mis-intereses">
                <div class="carta">
                    <h3>Series</h3>
                    <p>Aquí podrás ver mis series favoritas.</p>
                    <button>Ver más</button>
                </div>
                <div class="carta">
                    <h3>Viajar</h3>
                    <p>Aquí podrás ver mis viajes.</p>
                    <button>Ver más</button>
                </div>
                <div class="carta">
                    <h3>Videojuegos</h3>
                    <p>Aquí podrás encontrar mis videojuegos favoritos.</p>
                    <button>Ver más</button>

                </div>
            </div>
        </div>
    </section>

    <section id="portafolio">
        <div class="container">
            <h2>Mi Portafolio</h2>
            <div class="mi-portafolio">
                <div class="carta1">
                    <h3>Proyecto 1</h3>
                    <p>Descripción breve del proyecto.</p>
                    <button>+ Info</button>
                </div>
                <div class="carta1">
                    <h3>Proyecto 2</h3>
                    <p>Descripción breve del proyecto.</p>
                    <button>+ Info</button>
                </div>
                <div class="carta1">
                    <h3>Proyecto 3</h3>
                    <p>Descripción breve del proyecto.</p>
                    <button>+ Info</button>
                </div>
            </div>
        </div>
    </section>

    <footer>
            <div class="container">
            <p>&copy; Nicolás Coronel - 2025</p>
            </div>
            <div class="redes-sociales">
                <a href="https://facebook.com/tuusuario" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/tuusuario" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com/tuusuario" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://linkedin.com/in/tuusuario" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
    </footer>
</body>

</html>